.App {
  text-align: center;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.Calc {
  width: 500px;
  border: 5px solid black;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.Disp {
  border: 5px solid rgb(0, 0, 0);
  height: 50px;
  font-size: 2em;
  text-align: right;
  padding: 10px;
  background-color: #f0f0f0; 
}

.Button {
  border: 5px solid rgb(255, 0, 212);
  height: 70px; 
  width: calc(25% - 10px);
  margin: 5px; 
  display: inline-block;
  font-size: 1.5em; 
  background-color: #fff;
}

.ButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
