.calculator {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ece1ff;
  border-radius: 10px;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.head {
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 1.8em;
  color: #333;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.display {
  font-size: 1.6em;
  text-align: right;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  color: #333;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.buttons button {
  font-size: 1.5em;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.name-button {
  font-size: 1.5em;
  padding: 12px 25px;
  margin-top: 15px;
  background-color: #a25eab;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
}
